h1 {
    font-family: 'Times New Roman', Strong, large;
    color: whitesmoke;
    padding: 2em #7371fc;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding:1em #e5d9f2;
}
